{
  "extends": "@parcel/config-default",
  "optimizers": {
    "*.html": ["@parcel/optimizer-data-url", "@parcel/optimizer-htmlnano", "@parcel/optimizer-svgo", "@parcel/transformer-inline-string"]
  }
}


